@font-face {
    font-family: Gasalt-Black;
    src: url(/font/Gasalt-Black.ttf);
}

@font-face {
    font-family: Gasalt-Regular;
    src: url(/font/Gasalt-Regular.ttf);
}

@font-face {
    font-family: Gasalt-Thin;
    src: url(/font/Gasalt-Thin.ttf);
}

h1 {
    font-family: Gasalt-Black;
    text-transform: uppercase;
    font-weight: bolder;
}

p {
    font-family: Arial;
    font-size: 40;
}

body{
    background-color: lightgray;
    text-align: center;
}

img.top {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

img.bot {
    width: 20px;
    height: 20px;
}

div {
    background-color: white;
    box-shadow: 1px 1px 4px 4px gray;
    height: 350px;
    width: 700px;
    padding: 100px;
    margin-top: 120px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.link:hover {
    font-family: Arial;
    background-color: rgb(44, 165, 212);
    lighting-color: white;
    color: white;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    
}